In [1]:
# complement (~)
# And (&)
# Or (|)
# XOR (^)
# left shift (<<)
# right shift (>>)

# complement (~) - tilde

In [2]:
~12

-13

In [3]:
print(0b00001100)

print(~0b00001100)

12
-13

In [4]:
# binary format of 12 to get the compliment of 12 (~12)

# 2 | 12 -> 0
# 2 | 6  -> 0
# 2 | 3  -> 1
# 2 | 1  -> 1

# binary format is in reverse order from bottom to top  i.e, "1100"

# i.e,  1 1 0 0  -> 12
#      _________          [note: ~ is reverse of 1100]
#       0 0 1 1  -> ~12
      
# binary format of 13 to get the compliment of -13 (~-13) if it is equal to "12"

# 2 | 13 -> 1
# 2 | 6  -> 0
# 2 | 3  -> 1
# 2 | 1  -> 1

# binary format is in reverse order from bottom to top  i.e, "1101"

# i.e,  1 1 0 1  -> 13        
#       0 0 1 0  -> ~13          [Note: To convert -ve number to +ve we use 2's Compliment to store in the system i.e, 
#       +     1                                                                                 2's comp = 1's comp +1]
#     ___________                   
#       0 0 1 1  -> -13
      
# hence, ~12 = ~-13

In [5]:
num=int(input("Enter your Number:"))
print("After Complement: {}".format(~num))

Enter your Number:123
After Complement: -124

In [6]:
~15

-16

In [7]:
0b1111

15

In [8]:
# binary format of 12 to get the compliment of 15 (~15)

# 2 | 15 -> 1
# 2 | 7  -> 1
# 2 | 3  -> 1
# 2 | 1  -> 1

# binary format is in reverse order from bottom to top  i.e, "1111"

# i.e,  1 1 1 1  -> 15
#      _________          [note: ~ is reverse of 1111]
#       0 0 0 0  -> ~15
      
# binary format of 16 to get the compliment of -16 (~-16) if it is equal to "15"

# 2 | 16 -> 0
# 2 | 7  -> 1
# 2 | 3  -> 1
# 2 | 1  -> 1

# binary format is in reverse order from bottom to top  i.e, "1110"

# i.e,  1 1 1 0  -> 16        
#       0 0 0 1  -> ~16          [Note: To convert -ve number to +ve we use 2's Compliment to store in the system i.e, 
#       +     1                                                                                 2's comp = 1's comp +1]
#     ___________                   
#       0 0 0 0  ->-16
      
# hence, ~15 = ~-16

In [9]:
~1123

-1124

In [10]:
0b1001100

76

In [11]:
~76==-77

True

In [12]:
-12388==~12387

True

In [13]:
# if u notice one thing that the ~ of any number is = -ve (+1) of that same number

# And (&)

In [14]:
# Here in bitwise we use "&" as the operator but not "and" like in logical operator

In [15]:
12&13

12

In [16]:
# (All are to be "True" then its "true")

# 12 =         1 1 0 0
# 13 =         1 1 0 1
# &  =        _________
#              1 1 0 0  =  12
             
# hence 12 & 13 = 12

In [17]:
12&13&14

12

In [18]:
# 12 =         1 1 0 0
# 13 =         1 1 0 1
# 14 =         1 1 1 0
# &  =        _________
#              1 1 0 0  =  12
             
# hence 12 & 13 & 14 = 12

# Or (|)

In [19]:
12 | 13 | 18

31

In [20]:
bin(18)

'0b10010'

In [21]:
# ( If any one is "True" then its "true")

# 12 =        0 1 1 0 0
# 13 =        0 1 1 0 1
# 18 =        1 0 0 1 0
# &  =        _________
#             1 1 1 1 1   =  31
             
# hence 12 | 13 | 18 = 31

In [22]:
0b01101

13

# XOR (^)

In [23]:
# If both the numbers are same, for example both are true then = 0 or both are false then = 0,
# Only if they are diff then = 1

# 0 0 -> 0
# 0 1 -> 1
# 1 0 -> 1 
# 1 1 -> 0

In [24]:
154 ^ 291

441

In [25]:
# ( If any one is "True" then its "true")

# 154 =        0 1 0 0 1 1 0 1 0
# 291 =        1 0 0 1 0 0 0 1 1
# XOR =       ___________________
#              1 1 0 1 1 1 0 0 1  =  441
             
# hence 154 ^ 291 = 441

In [26]:
12 ^ 13

1

# left shift (<<)

In [27]:
10 << 2

40

In [28]:
0b101000

40

In [29]:
# binary format of 10 

# 2 | 10 -> 0
# 2 | 5  -> 1
# 2 | 2  -> 0
# 2 | 1  -> 1

# 10 = 1010

# LEFT SHIFT 2  0's  to left side of the binary format of 10 and where we add 2 0's to the end and we get 

# 10 << 2 = 1010|00

# where 101000 is the binary format for "40"

# right shift (>>)

In [30]:
10 >> 2

2

In [31]:
# binary format of 10 

# 2 | 10 -> 0
# 2 | 5  -> 1
# 2 | 2  -> 0
# 2 | 1  -> 1

# 10 = 1010

# RIGHT SHIFT 2  0's  to right side of the binary format of 10 and where we loss 2 0's to the right and we get

# 10 << 2 = 10|01

# where 10 is the binary format for "2"