In [1]:
x=['abhishek',65,8.3]

for i in x:
    print(i)

abhishek
65
8.3

In [2]:
for i in ['abhishek',65,8.3]:
    print(i)

abhishek
65
8.3

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
x='good boy'
for i in x.split(' '):
    print(i)

good
boy

In [5]:
for i in range(11,21,2):                 # (startpt,endingpt,stepsize)
    print(i)

11
13
15
17
19

In [6]:
# in reverse order

for i in range(20,10,-3):
    print(i)

20
17
14
11

In [7]:
# Want to print numbers which are not divisible by 5

In [8]:
for i in range(1,21):
    if i%5==0:
        i+=1
    else:
        print(i)
        i+=1

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [9]:
# want numbers from 20 to 10 backward which are not divisble by 3 or 5

In [10]:
for i in range(20,11,-1):
    if i%3==0 or i%5==0:
        i+=1
    else:
        print(i)
        i+=1

19
17
16
14
13

In [11]:
list=[1,2,3,4,5,6]
len(list)

6

In [12]:
ls=['abhishek','aditya','vikas','ajay','ritesh','dhanajaya','sumit','astha',]
new=[]
for i in ls:
    if i.startswith('a') or i.startswith('r'):
        print(i)
        new.append(i)
print('total number of people are :', len(new))

abhishek
aditya
ajay
ritesh
astha
total number of people are : 5

In [13]:
data1=[34,54,23,76]
data2=[23,34,100,54,63]
result_data=[]
for i in data2:
    if i in data1:
        result_data.append(i)
print(result_data[::-1])

[54, 34, 23]

In [14]:
lt1=[]
lt2=[]
for i in range(1,100):
    if i%3==0 or i%7==0:
        lt1.append(i)
        if i%5==0:
                lt2.append(i)
                i+=1
        i+=1
    else:
        i+=1
print('the number divisible by 3 or 7 :',lt1)
print('the number divisible by 5 :',lt2)

the number divisible by 3 or 7 : [3, 6, 7, 9, 12, 14, 15, 18, 21, 24, 27, 28, 30, 33, 35, 36, 39, 42, 45, 48, 49, 51, 54, 56, 57, 60, 63, 66, 69, 70, 72, 75, 77, 78, 81, 84, 87, 90, 91, 93, 96, 98, 99]
the number divisible by 5 : [15, 30, 35, 45, 60, 70, 75, 90]

In [15]:
# print all the perfect square number between 1 and 500

In [16]:
import math
lt=[]
for i in range(1,51):
    root=math.sqrt(i)
    if int(root+0.5)**2==i:
        lt.append(i)
print(lt)

[1, 4, 9, 16, 25, 36, 49]

In [17]:
root=math.sqrt(9)
int(root+0.5)**2==9

True

In [18]:
data1=[34,54,23,76]
data2=[23,34,100,54,63]
result_data=[]
new=set(data1).symmetric_difference(set(data2))
result_data.append((new))
print(result_data)

[{100, 76, 63}]

In [19]:
i=1
while i<=5:
    print('Ram',end=' ')
    j=1
    while j<=3:
        print('rocks',end=' ')
        j+=1
    i+=1
    print()

Ram rocks rocks rocks
Ram rocks rocks rocks
Ram rocks rocks rocks
Ram rocks rocks rocks
Ram rocks rocks rocks